<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>    
    <div class="container">
        <%- include('./partials/nav.ejs') %>

        <h1>Einstellungen</h1>
        <p>Mal sehen was hier noch für Einstellungen entstehen :)</p>


        
    
</body>
<%- include('./partials/footer.ejs') %>
</html>